
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-right">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">ماهان احمدی<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                    </ul>
                </div>

                <p class="text-muted m-0">برنامه نویس</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-page="/index" class="waves-effect active">
                        <i class="md md-home"></i><span>
                            داشبورد
                        </span>
                    </a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-accessibility"></i><span>ادمین</span><span class="pull-right"><i class="md md-add"></i></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="form-elements.html">تسک های من</a></li>
                        <li><a href="form-elements.html">درجه من</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-now-widgets"></i><span>
                            فروشگاه
                        </span><span class="pull-right"><i class="md md-add"></i></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/ProductsManagement/Products/Index">مدیریت محصولات</a></li>
                        <li><a asp-page="/ProductsManagement/ProductCategory/Index"> دسته بندی محصولات</a></li>
                        <li><a asp-page="/InventoryManagement/Index">گردش انبار فروشگاه ها</a></li>
                        <li><a asp-page="/ProductsManagement/Products/Index">مدیریت محصولات</a></li>
                        <li><a asp-page="/Discounts/CustomerDiscount/Index">مدیریت تخفیف ها</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-account-child"></i><span>
                            کاربران
                        </span><span class="pull-right"><i class="md md-add"></i></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="tables.html">مدیریت ادمین ها</a></li>
                        <li><a asp-page="/Accounts/Role/Index">مدیریت نقش ها</a></li>
                        <li><a href="responsive-table.html">مدیریت رانندگان</a></li>
                        <li><a asp-page="/Accounts/Account/Index">مشاهده تمامی کاربران</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-poll"></i><span> حساب ها </span><span class="pull-right"><i class="md md-add"></i></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="morris-chart.html">گردش حساب کل</a></li>
                        <li><a href="chartjs.html">موجودی </a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-place"></i><span> نقشه </span><span class="pull-right"><i class="md md-add"></i></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="gmap.html"> اضافه کردن دستی</a></li>
                        <li><a href="vector-map.html">مدیریت نقشه</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-pages"></i><span> وبلاگ </span><span class="pull-right"><i class="md md-add"></i></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="profile.html">کامنت ها</a></li>
                        <li><a asp-page="/Blog/Article/Index">مقاله ها</a></li>
                        <li><a asp-page="/Blog/ArticleCategory/Index">دسته بندی مقاله</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect">
                        <i class="md md-web"></i><span> صفحات </span><span class="pull-right"><i class="md md-add"></i></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="profile.html">صفحه سایت</a></li>
                        <li><a href="timeline.html">ثبت انتقاد ادمین ها</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>